

.button  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 52px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.05px;
}
.button:hover {
    background-color: var(--color-bg-palette-grey-10)};

.button:active {
    background-color: var(--color-bg-palette-grey-20)};

